@font-face {
    font-family: "Smiley Sans";
    src: url("../assets/fonts/SmileySans-Oblique.ttf") format("truetype");
}

@font-face {
    font-family: "Menlo";
    src: url("../assets/fonts/Menlo-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Monaco";
    src: url("../assets/fonts/monaco.ttf") format("truetype");
}

@media screen {
    html {
        font-size: 130%;
    }
}

:root {
    --md-primary-fg-color:        #3b6ca9;
    --md-primary-fg-color--light: #3b6ca9;
    --md-primary-fg-color--dark:  #3b6ca9;
    --md-accent-fg-color:         #3b6ca9;

    /* --md-text-font: "LXGW WenKai Screen";
    --md-code-font: "Menlo", "LXGW WenKai Screen"; */
}

[data-md-color-scheme="default"] {
    --md-footer-bg-color--dark: #ffffffd5;
    --md-footer-fg-color--light: #000000c6;
    --md-footer-fg-color--lighter: #0000009d;
    --md-footer-fg-color--lightest: #000000;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: #131313;
    /* --md-default-bg-color--light: #161616;
    --md-default-bg-color--lighter: #161616;
    --md-default-bg-color--lightest: #161616; */
    --md-default-fg-color: rgba(255, 253, 253, 0.868);
    --md-default-fg-color--light: rgba(255, 255, 255, 0.854);
    --md-default-fg-color--lighter: rgba(255, 255, 255, 0.393);
    --md-default-fg-color--lightest: rgba(255, 255, 255, 0.58);
    --md-primary-fg-color: #0e0e0e;
    --md-typeset-a-color: #ffffff;
    --md-footer-fg-color: #fff;
    --md-footer-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color--dark: var(--md-default-bg-color);
    --md-footer-fg-color--light: #ffffffc3;
    --md-footer-fg-color--lighter: #ffffffc4;
    --md-code-bg-color: #1c1c1c;
}

.md-header__title {
    font-weight: bold;
    font-family: "LXGW Wenkai Screen", sans-serif;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
font-weight: 800;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
font-weight: 800;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
font-weight: 400;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
font-weight: 500;
font-style: italic;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'JetBrains Mono';
src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}