:root {
    --color-blue: #3b6ca9;
    --color-pink: #c179b4;
    --color-red: #d45151;
    --color-orange: #e39b2f;
    --color-green: #38a989;
    --color-purple: #987ccd;
  }

  .friends-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  @media screen and (max-width: 768px) {
    .friends-container {
      grid-template-columns: 1fr;
    }
  }

  .friend-card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    /* background: linear-gradient(135deg, var(--base-color), color-mix(in srgb, var(--base-color) 65%, white)); */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 90px;
  }

  /* 为日间模式特别指定渐变 */
  [data-md-color-scheme="default"] .friend-card {
    background: linear-gradient(135deg, 
      var(--base-color), 
      color-mix(in srgb, var(--base-color) 30%, white)
    );
  }
  
/* 为夜间模式特别指定渐变 */
[data-md-color-scheme="slate"] .friend-card {
    background: linear-gradient(135deg, 
      color-mix(in srgb, var(--base-color) 50%, black),
      color-mix(in srgb, var(--base-color) 20%, black)
    );
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.25);
  }

  .friend-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  .friend-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }

  .friend-info {
    display: flex;
    flex-direction: column;
  }

  .friend-name {
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }

  .friend-description {
    margin: 0;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.95);
  }

  .friend-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 12px;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0.05));
    transition: background 0.3s;
  }

  .friend-link:hover {
    background: linear-gradient(rgba(255,255,255,0.05), rgba(255,255,255,0.1));
  }
